body{
    background-color: beige;
    color: #1b8c90;
}
h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.enteredReg{
    width: 100%;
}

.inner_container{
    margin: 50px 0;
}

.successfulColor{
    color: green;
}

ul li{
    display: block;
    border: 5px solid #000;
    /* background-color: #fff; */
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 15px 0 0;
}

#registrationNumberForm .town{
    float: left;
    padding: 15px;
    display: flex;
}

.townName{
    float: left;
    padding: 10px;
    display: flex;
}

span{
    color: red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /******style the form*****/
  #registrationNumberForm{
      margin: auto;
      border: 5px solid;
      padding: 15px;
  }